## version: $Id:  $
<!-- sakai_resources_list.vm, use with org.sakaiproject.content.tool.ResourcesAction.java -->
<!-- this is the new list template, which uses the resources type registry -->
<script type="text/javascript">includeLatestJQuery('content');</script>

<!-- // -->
</script>

<style>
  .table td, .table th {
    vertical-align: middle !important;
    text-align:left !important;
  }
</style>

<script type="text/javascript" src="/sakai-content-tool/js/content.js">
<!-- // -->
</script>


<script type="text/javascript">
    var jsLang = {
        item:'$clang.getString('list.nav.item')',
        items:'$clang.getString('list.nav.items')',
        error:'$clang.getString('list.nav.error')'
    }    
</script>

<script src="/sakai-content-tool/js/jstree/dist/jstree.min.js"></script>
<link rel="stylesheet" href="/sakai-content-tool/js/jstree/dist/themes/default/style.min.css" />
#set($num = 0)
<div class="portletBody specialLink">
	#set($itemsOnLine = 0)
		<ul class="navIntraTool actionToolBar">
            #if("$!dropboxMode" == "true")
			<li class="firstToolBarItem"><span class="current">$clang.getString("list.site.dropbox")</span></li>
            #else
			<li class="firstToolBarItem"><span class="current">$clang.getString("list.site")</span></li>
            #end
			#if($canDeleteResource)
				## view restore deleted resources area if the user has revise permission
				<li><span><a href="#toolLinkParam("ResourcesAction" "doViewTrash" "siteId=$validator.escapeUrl(${site.id})")" title="$clang.getString('trash')">$clang.getString("trash")</a></span></li>
			#end
			#if($showDropboxMultipleFoldersUpload)
			<li class="hidden-xs"><span><a href="#toolLinkParam("ResourcesAction" "doDropboxMultipleFoldersUpload" "siteId=$validator.escapeUrl(${site.id})")" title="$tlang.getString("multiple.file.upload")">$tlang.getString("multiple.file.upload")</a></span></li>
			#end
			#if($showWebdavLink)
			<li class="hidden-xs"><span><a href="#toolLink("ResourcesAction" "doShow_webdav")" title="$tlang.getString('dav.webdav')">$tlang.getString("dav.webdav")</a></span></li>
			#end
			#if($showPermissions)
			<li><span><a href="#toolLinkParam("ResourcesAction" "doPermissions" "collectionId=$validator.escapeUrl(${site.id})")" title="$clang.getString('list.sPerm')">$clang.getString("list.sPerm")</a></span></li>
			#end
			#if($showOptions)
			<li><span><a href="#toolLinkParam("ResourcesAction" "doOptions" "siteId=$validator.escapeUrl(${site.id})")" title="$clang.getString('list.options')">$clang.getString("list.options")</a></span></li>
			#end
			#if($showDropboxOptions)
			<li><span><a href="#toolLinkParam("ResourcesAction" "doDropboxOptions" "siteId=$validator.escapeUrl(${site.id})")" title="$clang.getString('list.options')">$clang.getString("list.options")</a></span></li>
			#end
			#if($showQuota)
			<li><span><a href="#toolLinkParam("ResourcesAction" "doShowQuota" "siteId=$validator.escapeUrl(${site.id})")" title="$clang.getString('list.quota')">$clang.getString("list.quota")</a></span></li>
			#end
			##SAK-30085
			#if($showJumpToResourceForm)
			<li class="inputItem">
				<span class="formItem form-inline">
					<form id="jumpToResourceForm" class="inlineForm form-group" action="#toolForm("ResourcesAction")" method="post">
						<input type="hidden" name="source" value="0" />	
						<input type="hidden" name="navRoot" value="" />
						<input type="hidden" name="criteria" value="title" />
						<input type="hidden" name="sakai_action" value="doNavigate" />
						<input type="hidden" name="rt_action" value="" />
						<input type="hidden" name="selectedItemId" value="" />
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
						<input type="text" class="form-control" name="collectionId" value="" required />
						<input type="submit" value="$clang.getString('list.jumptoresource')"/>
					</form>
				</span>
			</li>
			#end
		</ul>
		</ul>
	#if ($alertMessage)
                 <br /><div class="messageValidation">$alertMessage</div><div class="clear"></div>
	#end
	## display print success message
	#if ($content_print_status_success)
		<br /><div id="messageSuccessHolder" class="messageSuccess" style="display:block">$!content_print_message</div>
	#end
	## display print failure message
	#if ($content_print_status_failure)
		<br /><div id="messageSuccessHolder" class="messageError" style="display:block">$!content_print_message</div>
	#end
	<form name="showForm" id="showForm" action="#toolForm("ResourcesAction")" method="post">
		## hidden fields for print url
		#if ($!content_print_result_url && $!content_print_result_url_title)
			<input type="hidden" value="$content_print_result_url" id="content_print_result_url" />
			<input type="hidden" value="$content_print_result_url_title" id="content_print_result_url_title" />
		#end
		<input type="hidden" name="source" id="source" value="0" />
		<input type="hidden" name="collectionId" id="collectionId" value="$validator.escapeHtml($collectionId)" />
		<input type="hidden" name="navRoot" id="navRoot" value="" />
		<input type="hidden" name="criteria" id="criteria" value="title" />
		<input type="hidden" name="sakai_action" id="sakai_action" value="" />
		<input type="hidden" name="rt_action" id="rt_action" value="" />
		<input type="hidden" name="selectedItemId" id="selectedItemId" value="" />
		######################  Page Title / Breadcrumbs  ##############
    <br>
    <ol class="breadcrumb">
      #if (!$dropboxMode)
        <li class="dropdown keep-open">
          <a id="navigate" data-toggle="dropdown" href="">
            $clang.getString('list.nav.button.title') <span class="caret"></span>
          </a>
          <div id="navigatePanel" class="dropdown-menu" role="menu">
            <div class="navigatePanelControls">
              <span class="expand_collapse">
                <button id="navigatePanelInnerCollapse" style="display:none" class="btn btn-link btn-xs" title="$clang.getString('collapseall')">
                  <span class="glyphicon glyphicon-chevron-up"></span>
                  <span class="sr-only">$clang.getString('collapseall')</span>
                </button> 
              </span>
              <button id="navigatePanelInnerExpand" class="btn btn-link btn-xs" onclick="$('#navigatePanelInner').jstree('open_all')" title="$slang.getString('label.expand.all')"><span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">$slang.getString('label.expand.all')</span></button></span>
              <label for="navigatePanelSearch" class="sr-only">$clang.getString('list.nav.search')</label>
              <input placeholder="$clang.getString('list.nav.search')" type="text" id="navigatePanelSearch"/>
              <p class="close">&times;</p>
            </div>
            <div id="navigatePanelInner">
              <div id="spinner" style="display:none"></div>
            </div>
          </div>
        </li>
      #end
      #foreach ($item in $collectionPath)
        #set($qid=$item.id.replaceAll("'","\\'").replaceAll("\"", "&quot;"))
        #if($item.isLast())
          <li class="active">
            $validator.escapeHtml("$item.name")
          </li>
        #elseif($item.canRead())
          <li>
            <a href="" 
              onclick="document.getElementById('sakai_action').value='doNavigate';document.getElementById('collectionId').value='$qid';document.getElementById('navRoot').value='$item.root';document.getElementById('showForm').submit();"
              title= "$tlang.getString('sh.go')">
               $validator.escapeHtml("$item.name")
            </a>
          </li>
          #set($upOneLevel = $item)
        #else
          <li class="active">
            $validator.escapeHtml("$item.name")
          </li>
        #end
      #end
    </ol>

  #if ($dropboxMode)
    <div class="container-fluid">
      <div class="row">
        #if($showDropboxGroupFilter)
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        		<div class="form-inline">	
      		    <label for="dropboxGroupFilter_groupId">
                $tlang.getString("grp.view"): 
              </label> 
              <select name="dropboxGroupFilter_groupId" id="dropboxGroupFilter_groupId" onchange="document.getElementById('sakai_action').value='doSetDropboxGroupIdFilter';document.getElementById('showForm').submit();">
                  <option value=""#if($!dropboxGroupFilter_groupId || $dropboxGroupFilter_groupId.equals("")) selected="selected"#end>$tlang.getString("grp.all")</option>
                  #foreach($group in $dropboxGroupFilter_groups)
                      <option value="$group.getId()"#if($group.getId().equals($dropboxGroupFilter_groupId)) selected="selected"#end>$validator.escapeHtml($group.getTitle())</option>
                  #end
              </select>
            </div>
          </div>
        #end
          ## SAK-23350
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="text-align: right">
          <p><small class="muted">$tlang.getString("dropbox.privacy.note")</small></p>
        </div>
      </div>
    </div>
  #end

    <div class="container-fluid">
      <div class="row">
    		#if($listActions || $showHotDropboxWidget)
    				<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 btn-group btn-group-sm" role="group">
    					#if($listActions)
    							#set ($itemsOnLine = 0)
    							#foreach($key in $listActions.keySet())
    								#set($action = $listActions.get("$key"))
    								<button style="margin:0" class="btn btn-default" id="${action.id}-button"
    									onclick="document.getElementById('sakai_action').value='doMultiItemDispatch';document.getElementById('rt_action').value='$action.id';document.getElementById('showForm').submit();"
    									disabled="disabled" >$!action.label
                                    </button>
    							#end

                                ####### begin SAK-23304, add Show and Hide
                                ####### Show/Hide can not be part of listActions because it was not a multipleItemAction for an item.
                                ####### listActions are a list of multipleItemAction that you can do on individual resource/collection items.
                                #if (!$dropboxMode)
                                    #if($canShowHide)
                                            <button  style="margin:0" class="btn btn-default" id="show-button" type="button"
                                                onclick="document.getElementById('sakai_action').value='doMultiItemDispatch';document.getElementById('rt_action').value='show';document.getElementById('showForm').submit();"
                                                disabled="disabled">$tlang.getString('avail.show')
                                            </button>
                                            <button  style="margin:0" class="btn btn-default" id="hide-button" type="button"
                                                onclick="document.getElementById('sakai_action').value='doMultiItemDispatch';document.getElementById('rt_action').value='hide';document.getElementById('showForm').submit();"
                                                disabled="disabled">$tlang.getString('avail.hide')
                                            </button>
                                    #end
                                 #end
                                 ####### end SAK-23304, add Show and Hide

    					#end
    				</div>
    		#end
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4 btn-group btn-group-sm form-inline" style="text-align: right">
            #if($showHotDropboxWidget)
              <label for="dropboxHighlight" class="hidden-sm hidden-xs">
                  <small>$clang.getString("dropbox_highlight")</small>
              </label>
              <select class="form-control " name="dropboxHighlight" id="dropboxHighlight" onchange="document.getElementById('sakai_action').value='doSetHotDropbox';document.getElementById('showForm').submit();">
                  <option value="1"#if("$!dropboxHighlight" == "1") selected="selected"#end>$clang.getString("sh.1day")</option>
                  <option value="2"#if("$!dropboxHighlight" == "2") selected="selected"#end>$clang.getString("sh.2day")</option>
                  <option value="3"#if("$!dropboxHighlight" == "3") selected="selected"#end>$clang.getString("sh.3day")</option>
                  <option value="7"#if("$!dropboxHighlight" == "7") selected="selected"#end>$clang.getString("sh.1week")</option>
              </select>
            #end
            #if (!$dropboxMode)
              <span class="hidden-sm hidden-xs pull-right">
                <button style="margin:0" type="button" class="btn btn-default btn-sm dropdown-toggle colPicker" data-toggle="dropdown">
                  $clang.getString('list.cols.columns')
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="columnTog">
                  <li class="dropdown-button">
                      <span class="close-button"></span>
                  </li>
                  <li class="dropdown-header"><span>$clang.getString('list.cols.columns.inst')</span></li>
                  <li class="dropdown-header"><span id="accessTog"><input type="checkbox" id="accessCol" checked="checked" /><label for="accessCol">&nbsp;&nbsp;$clang.getString("gen.access")</label></span></li>
                  <li class="dropdown-header"><span id="creatorTog"><input type="checkbox" id="creatorCol" checked="checked" /><label for ="creatorCol">&nbsp;&nbsp;$clang.getString("gen.created")</label></span></li>
                  <li class="dropdown-header"><span id="modifiedTog"><input type="checkbox" id="modifiedCol" checked="checked"/><label for="modifiedCol">&nbsp;&nbsp;$clang.getString("gen.last1")</label></span></li>
                  <li class="dropdown-header"><span id="sizeTog"><input type="checkbox" id="sizeCol" checked="checked"/><label for="sizeCol">&nbsp;&nbsp;$clang.getString("gen.size")</label></span></li>
                  <li class="dropdown-header"><button class="btn btn-primary  btn-sm btn-block" id="saveCols">$clang.getString("gen.save")</button></li>
                </ul>
              </span>
            #end
        </div>
      </div>
    </div>
    <p></p>
    <div id="userId" style="display: none;">$userId</div>
		######################  Heirarchical list of resource folders/items  ##############
    ## style on table to override margin on small viewports
		<table style="margin:0;width:100%;display:table" class="table table-striped table-hover #if (!$dropboxMode) resourcesList #end" cellspacing="0" border="0"  summary="$clang.getString("sh.listsum")">
			######################  Column labels, sort controls, expand/collapse all  ##############
			<caption class="skip"  style="display:none">$clang.getString("sh.listcap")</caption>
			<tr class="hidden-sm hidden-xs"> 
				<th id="expansion" class="attach" scope="col">
					#if ($expandallflag && "$expandallflag" == "$TRUE")
						<a href="#" onclick="document.getElementById('sakai_action').value='doUnexpandall';document.getElementById('collectionId').value='$collectionId';document.getElementById('showForm').submit();"
							title= "$clang.getString('collapseall')">
							<span class="sr-only">$clang.getString('collapseall')</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                            ##<img src = "#imageLink("sakai/collapse-expand.gif")" border="0" title="$clang.getString('collapseall')" alt="$clang.getString('collapseall')" hspace="0" />
						</a>								 
					#else
						<a href="#" onclick="document.getElementById('sakai_action').value='doExpandall';document.getElementById('collectionId').value='$collectionId';document.getElementById('showForm').submit();"
							title= "$slang.getString('label.expand.all')">
                            <span class="sr-only">$slang.getString('label.expand.all')</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
							##<img src = "#imageLink("sakai/expand-collapse.gif")" border="0" title="$slang.getString('label.expand.all')" alt="$slang.getString('label.expand.all')" hspace="0" />
						</a>								 
					#end
				</th>
				<th id="checkboxes" class="attach" scope="col">
						<input type="checkbox" name="selectall" id="selectall" disabled="disabled" title="$clang.getString("list.select")"
						onclick="toggleSelectAll(this, 'selectedMembers'); adjustShowHideCount(this)" value="" /><label for="selectall" class="skip">$clang.getString("list.select")</label>

				</th>
				<th id="title" scope="col" style="text-align:left">
					<a href="#" onclick="document.getElementById('sakai_action').value='doSort';document.getElementById('collectionId').value='$collectionId';document.getElementById('criteria').value='title';document.getElementById('showForm').submit();"
						title= "$clang.getString('sh.sorttit')">
						$clang.getString("gen.title1")
						#if ($currentSortedBy.equals($resourceProperties.NamePropDisplayName)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0" title ="$clang.getString('sh.sorttitas')" alt ="$clang.getString('sh.sorttitas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$clang.getString('sh.sorttitdesc')" alt ="$clang.getString('sh.sorttitdesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="actions1" class="attach" scope="col">
					##$tlang.getString("gen.actions")
				</th>
				<th id="actions2" class="actions2" scope="col">
					##$tlang.getString("gen.actions")
				</th>
				<th id="access" class="access" scope="col">
					$clang.getString("gen.access")
				</th>
				<th id="creator" class="creator" scope="col">
					<a href="#" onclick="document.getElementById('sakai_action').value='doSort';document.getElementById('collectionId').value='$collectionId';document.getElementById('criteria').value='created by';document.getElementById('showForm').submit();"
						title= "$clang.getString('sh.sortaut')">
						$clang.getString("gen.created")
						#if ($currentSortedBy.equals($resourceProperties.NamePropCreator)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$clang.getString('sh.sortautas')"  alt ="$clang.getString('sh.sortautas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$clang.getString('sh.sortautdesc')"  alt ="$clang.getString('sh.sortautdesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="modified" class="modified" scope="col">
					<a href="#" onclick="document.getElementById('sakai_action').value='doSort';document.getElementById('collectionId').value='$collectionId';document.getElementById('criteria').value='last modified';document.getElementById('showForm').submit();"
						title= "$clang.getString('sh.sortdate')">
						$clang.getString("gen.last1")
						#if ($currentSortedBy.equals($resourceProperties.NamePropModifiedDate)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$clang.getString('sh.sortdateas')"  alt ="$clang.getString('sh.sortdateas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$clang.getString('sh.sortdatedesc')"  alt ="$clang.getString('sh.sortdatedesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="size" class="size" scope="col">
					<a href="#" onclick="document.getElementById('sakai_action').value='doSort';document.getElementById('collectionId').value='$collectionId';document.getElementById('criteria').value='size';document.getElementById('showForm').submit();"
						title= "$clang.getString('sh.sortsize')">
						$clang.getString("gen.size")
						#if ($currentSortedBy.equals($resourceProperties.NamePropContentLength)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$clang.getString('sh.sortsizeas')"  alt ="$clang.getString('sh.sortsizeas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$clang.getString('sh.sortsizedesc')"  alt ="$clang.getString('sh.sortsizedesc')" /> 
							#end 
						#end 
					</a>
				</th>
			</tr>
			#set ($addCount=20000)
			#set ($actionCount=10000)
			#set($itemcount = 0)
			#set ($unit ="em")
			#foreach($item in $site)
				#set($qid=$item.id.replaceAll("'","\\'").replaceAll("\"", "&quot;"))
				#set($dqid=$item.id.replaceAll("\"", "&quot;"))
				#if ((!$dropboxGroupPermission_enabled) || ($item.isDropbox() && $item.DropboxOwner && $dropboxGroupPermission_allGroupsUsers.contains($item.DropboxOwner)))
				#if(!$dropboxGroupFiltered || ($item.isDropbox() && $dropboxGroupFilter_groupUsers.contains($item.DropboxOwner)) )
				#set($itemcount = $itemcount + 1)
				#set ($addCount=($addCount - 1))
				#set ($actionCount=($actionCount - 1))
				
				#set ($width = "$!{item.depth}$unit")
				#if ($item.depth==0)	
					#set ($margin="margin-left:0")
				#else
					#set ($margin="margin-left:2em")
					#set ($marginAction="margin-left:4.7em")
				#end
				############################### Show top level folder #################
				<tr 
					class="#if($item.isSelectedForCopy()) selectedCopy#end#if($item.isSelectedForMove()) selectedMove#end#if(!$item.isAvailable()) inactive#end">
					#set ($num=$num + 1)
					<td headers="expansion" class="attach hidden-sm hidden-xs">
					</td>
					<td headers="checkboxes" class="attach">
						#if($item.depth > 0 && $item.hasMultipleItemActions())
							<input type="checkbox" name="selectedMembers" id="list$num" 
									#if($selectedItems.contains($item.id))checked="checked"#end
									onclick="#foreach($key in $item.multipleItemActions.keySet())adjustCount(this, '$key');#end;adjustShowHideCount(this)"
 									value="$dqid" /><label for="list$num" class="skip">$clang.getString("att.select"): $validator.escapeHtml($item.name)</label>
							#foreach($key in $item.multipleItemActions.keySet())$counter.increment("$key") $counter.increment("selectall")#if($selectedItems.contains($item.id))$counter.increment("${key}selected")#end#end
							<input type="hidden" name="itemHidden" id="itemHidden" value="$item.hidden" />
							<input type="hidden" name="itemCanRevise" id="itemCanRevise" value="$item.canRevise" />
						#end
					</td>
					<td style="text-indent:$width" class="specialLink title" scope="row">
					#if($item.isHot("$!dropboxHighlight")) #set($iconDecor="recentItem") #set($newNote="new") #else  #set($iconDecor="nil")  #set($newNote="")#end 
              #if($validator.escapeHtml($item.name).length() > 25)
                #set($trimmed = $validator.escapeHtml($item.name).substring(0,25))
                #set($trimmedTitle = "$trimmed ...")
              #else
                #set($trimmedTitle = $validator.escapeHtml($item.name))
              #end

              #if ($item.canRead())
								#if($item.isCollection()) 
									<span class="skip">$newNote</span><span class="$iconDecor">
									#if($item.isEmpty() || $item.isTooBig() || $item.depth < 1 || $item.isTooBigNav())
										<img src="#imageLink($item.iconLocation)" border= "0" alt="$item.hoverText" hspace="0" /></span>
									#else
                    <img class="visible-sm-inline visible-xs-inline" src="#imageLink($item.iconLocation)" border= "0" alt="$item.hoverText" hspace="0" /></span>
										<a class="hidden-sm hidden-xs" href="#"
											#if($item.isExpanded())
												onclick="document.getElementById('sakai_action').value='doCollapse_collection';document.getElementById('collectionId').value='$qid';document.getElementById('showForm').submit();"
											#else
												onclick="document.getElementById('sakai_action').value='doExpand_collection';document.getElementById('collectionId').value='$qid';document.getElementById('showForm').submit();"
											#end
											title= "$item.expandLabel"><img src="#imageLink($item.expandIconLocation)" border= "0" alt="$item.expandLabel"  /><span class="sr-only">$item.expandLabel: $validator.escapeHtml($item.name)</span></a></span>
									#end
									
								#else
									#if ($item.hasCopyrightAlert())
										## if there is a copyright alert, show the alert page first
										<a href="#" 
											title="$tlang.getString('gen.copycomf') $tlang.getString('gen.type'): $item.hoverText  [$tlang.getString('gen.newwin')]"	
											onclick="openCopyrightWindow('${item.accessUrl}','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false"
										>
									#else
										<a href="${item.accessUrl}" target="${item.target}">
									#end
										<img src="#imageLink($item.iconLocation)" border= "0" alt="$item.hoverText" hspace="0" />
									</a>
								#end
								#if($item.isLocked())
 									<img src = "#imageLink("sakai/lock.gif")" border="0"  alt="$tlang.getString('locked')" />
								#end
								#if ($item.hasCopyrightAlert())
									## if there is a copyright alert, show the alert page first
									<a href="#" 
										title="$tlang.getString('gen.copycomf') $item.hoverText [$tlang.getString('gen.newwin')]"
										onclick="openCopyrightWindow('${item.accessUrl}','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false;">
										xxx111 $validator.escapeHtml($item.name)
									</a>
									&#169;
								#elseif($item.isCollection())
    								#if($item.isTooBigNav())
                      <span class="visible-sm-inline visible-xs-inline">$trimmedTitle</span>
                      <span class="hidden-sm hidden-xs">$validator.escapeHtml($item.name)</span>
									#else
										<a href="#"
    										onclick="document.getElementById('sakai_action').value='doNavigate';document.getElementById('collectionId').value='$qid';document.getElementById('navRoot').value='$validator.escapeUrl($item.root)';document.getElementById('showForm').submit();"
    										title= "$item.hoverText">
                        <span class="visible-sm-inline visible-xs-inline">$trimmedTitle</span>
                        <span class="hidden-sm hidden-xs">$validator.escapeHtml($item.name)</span>
    									</a>
									#end	
								#else
									#if($item.isTooBigNav())
                        <span class="visible-sm-inline visible-xs-inline">$trimmedTitle</span>
                        <span class="hidden-sm hidden-xs">$validator.escapeHtml($item.name)</span>
									#else
										<a href="$item.accessUrl" target="$item.target" title="$item.hoverText">
                        <span class="visible-sm-inline visible-xs-inline">$trimmedTitle</span>
                        <span class="hidden-sm hidden-xs">$validator.escapeHtml($item.name)</span>
    									</a>
									#end
								#end
							#else
								 <img src="#imageLink($item.iconLocation)" border="0" alt ="$item.hoverText" hspace="0" />
								#if($item.isLocked())
 									<img src = "#imageLink("sakai/lock.gif")" border="0"  alt="$tlang.getString('locked')" />
								#end
                <span class="visible-sm-inline visible-xs-inline">$trimmedTitle</span>
                <span class="hidden-sm hidden-xs">$validator.escapeHtml($item.name)</span>
								#if ($item.hasCopyrightAlert())
									&#169;
								#end
							#end 
              #if ($item.description !="" && $item.description)
                <a tabindex="0" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" data-content="$validator.escapeHtml($item.description)">
                   <img src="#imageLink("/silk/information.png")" alt="$tlang.getString("list.description.link")"/>
                </a>
              #end
					</td>
					<td headers="actions1"  style="white-space:nowrap;vertical-align:middle"  class="attach">
						#if($item.pasteActions && !$item.pasteActions.isEmpty())
							#set ($itemsOnLine = 0)
							#foreach($action in $item.pasteActions)
								#if($itemsOnLine > 0)|#end
								<a href="#" class=" highlightlink" title="$labeler.getLabel($action) $tlang.getString("paste.here")" onclick="document.getElementById('selectedItemId').value='$qid';document.getElementById('rt_action').value='${action.typeId}${ACTION_DELIMITER}$action.id';document.getElementById('sakai_action').value='doDispatchAction';submitform('showForm');"><img src = "#imageLink("silk/page_paste.gif")" border="0"  alt="$labeler.getLabel($action)"/></a> 
								#set ($itemsOnLine = $itemsOnLine + 1)
							#end
						#end
					</td>
					
					
					<td headers="actions2" class="attach actions2">
                        <div class="btn-group  pull-right">
                            <button type="button" class="btn dropdown-toggle btn-xs" data-toggle="dropdown" title="$clang.getString('gen.actions')">
                                <span class="sr-only">$validator.escapeHtml($item.name) $clang.getString('gen.actions')</span>
                                <span class="hidden-xs hidden-sm">$clang.getString('gen.actions')</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu row" role="menu">
	                            <li class="dropdown-button">
	                                <a href="" class="close-button"></a>
	                            </li>
                                #if($item.addActions && !$item.addActions.isEmpty())
                                    <li role="presentation" class="dropdown-header">$clang.getString('gen.add')</li>
                                    <li class="divider"></li>
                                    #foreach($action in $item.addActions)
                                        <li><a href="#" role="menuitem" tabindex="-1" style="width:auto" onclick="document.getElementById('selectedItemId').value='$qid';document.getElementById('rt_action').value='${action.typeId}${ACTION_DELIMITER}$action.id';document.getElementById('sakai_action').value='doDispatchAction';submitform('showForm');">$labeler.getLabel($action)</a></li>
                                    #end
                                #end
                                #if($item.addActions && !$item.addActions.isEmpty() && $item.otherActions && !$item.otherActions.isEmpty())
                                    <li class="divider"></li>
                                #end
                                #if($item.otherActions && !$item.otherActions.isEmpty())
                                    <li role="presentation" class="dropdown-header">$clang.getString('gen.actions')</li>
                                    <li class="divider"></li>
                                    #foreach($action in $item.otherActions)
                                    <li>
                                        <a href="#" role="menuitem" tabindex="-1" style="width:auto" onclick="document.getElementById('selectedItemId').value='$qid';document.getElementById('rt_action').value='${action.typeId}${ACTION_DELIMITER}$action.id';document.getElementById('sakai_action').value='doDispatchAction';submitform('showForm');">
                                            $labeler.getLabel($action)
                                        </a>
                                    </li>
                                    #end
                                #end
                            </ul>
                        </div>
					</td>
					#if($item.depth > 0)
						<td headers="access" class="hidden-sm hidden-xs access" title="$item.getShortAccessLabel()">
							$item.getShortAccessLabel()
						</td>
						<td headers="creator" class="creator hidden-sm hidden-xs">
							$validator.escapeHtml($item.createdBy)
						</td>
						<td headers="modified" class="modified hidden-sm hidden-xs">
							$item.ModifiedTime
						</td>
						<td headers="size" class="size hidden-sm hidden-xs">
							$item.size
						</td>
					#else
                        <td class="access hidden-sm hidden-xs">
                        </td>
                        <td class="creator hidden-sm hidden-xs">
                        </td>
                        <td class="modified hidden-sm hidden-xs">
                        </td>
                        <td class="size hidden-sm hidden-xs">
                        </td>						

					#end
				</tr>
				#end ## if !$dropboxGroupFiltered || ($item.isDropbox() && $dropboxGroupFilter_groupUsers.contains($item.DropboxOwner)) 
				#end ##if ((!$dropboxGroupPermission_enabled) || ($item.isDropbox() && $item.DropboxOwner && $dropboxGroupPermission_allGroupsUsers.contains($item.DropboxOwner)))
			#end ## foreach $item in $this_site
		
			############################################# Begin "Other sites" section
			#if ("$!atHome" == "$!TRUE")
			#if($allowed_to_see_other_sites)
				#if("$!show_other_sites" == "true")
					<tr>
						<td colspan="12">
						<h3>
							<a href="#" onclick="document.getElementById('sakai_action').value='doHideOtherSites';document.getElementById('showForm').submit();"
								title= "$clang.getString('list.copycontent')">
								<img src="#imageLink("sakai/collapse.gif")" alt="$clang.getString('list.copycontent')" border="0" align="top" />
								$validator.escapeHtml("$clang.getString('list.copycontent')")
							</a>
						</h3>
                        <small class="muted">$tlang.getString('notes.expandfolder')</small>
						</th>
					</tr>
					################################################################ Begin Paging widgets
					#if($!allMsgNumber && $allMsgNumberInt && $allMsgNumberInt > 5)
						<tr class="exclude">
							<td colspan="9" class="container-fluid">
                <div class="row">
							    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <button class="btn btn-default btn-sm" id="copy-button-other" type="button"
                        onclick="document.getElementById('sakai_action').value='doMultiItemDispatch';document.getElementById('rt_action').value='copy-other';document.getElementById('showForm').submit();"
                        disabled="disabled">$tlang.getString('action.copy')
                    </button>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-right">
                    <div class="pull-right">
  								    <span class="instructionx" style="margin-bottom:.3em;">$tlang.getString("viewing") $topMsgPos - $btmMsgPos $tlang.getString("of") $allMsgNumber $tlang.getString("items")</span>&nbsp;&nbsp;
    									#if ("$pagesize" != "0")
    										#if ($goPPButton == "true")
     											<input type="button" name="List_first" id="List_first" value="|&lt;" title="$clang.getString("gen.first")" onclick=" document.getElementById('sakai_action').value='doList_first';document.getElementById('showForm').submit();" />
    										#else
    											<input type="button" name="List_first" value="|&lt;" disabled="disabled" />
    										#end
    										#if ($goPPButton == "true")
     											<input type="button" name="List_prev" id="List_prev" value="&lt;" title="$clang.getString("gen.previous") $pagesize" onclick=" document.getElementById('sakai_action').value='doList_prev';document.getElementById('showForm').submit();" />
    										#else
    											<input type="button" name="List_prev" value="&lt;" disabled="disabled" />
    										#end
    									#end
    									<!-- $pagesize  "$pagesize" -->
    									<select name="selectPageSize" onchange="document.getElementById('sakai_action').value='doChange_pagesize';document.getElementById('showForm').submit();">
    										<option value="5"#if("$pagesize" == "5") selected="selected"#end>$tlang.getString("lis.show5")</option>
    										<option value="10"#if("$pagesize" == "10") selected="selected"#end>$tlang.getString("lis.show10")</option>
    										<option value="20"#if("$pagesize" == "20") selected="selected"#end>$tlang.getString("lis.show20")</option>
    										<option value="50"#if("$pagesize" == "50") selected="selected"#end>$tlang.getString("lis.show50")</option>
    										<option value="100"#if("$pagesize" == "100") selected="selected"#end>$tlang.getString("lis.show100")</option>
    										<option value="200"#if("$pagesize" == "200") selected="selected"#end>$tlang.getString("lis.show200")</option>
    									</select>
    									#if ("$pagesize" != "0")
    										#if ($goNPButton == "true")
     											<input type="button" name="List_next" id="List_next" value="&gt;" title="$clang.getString("gen.next") $pagesize" onclick=" document.getElementById('sakai_action').value='doList_next';document.getElementById('showForm').submit();" />
    										#else
    											<input type="button" name="List_next" value="&gt;" disabled="disabled" />
    										#end
    										#if ($goNPButton == "true")
     											<input type="button" name="List_last" id="List_last" value="&gt;|" title="$clang.getString("gen.last")" onclick=" document.getElementById('sakai_action').value='doList_last';document.getElementById('showForm').submit();" />
    										#else
    											<input type="button" name="List_last" value="&gt;|" disabled="disabled" />
    										#end
    									#end
                    </div>
								  </div>
                </div>
							</td>
						</tr>
						#else
						<tr class="exclude">
							<td colspan="9">
								<button class="btn btn-default btn-sm" id="copy-button-other" type="button"
									onclick="document.getElementById('sakai_action').value='doMultiItemDispatch';document.getElementById('rt_action').value='copy-other';document.getElementById('showForm').submit();"
									disabled="disabled">$tlang.getString('action.copy')
                                </button>
							</td>
						</tr>
					#end
					################################################################ Eng Paging widgets
					#foreach($item in $other_sites)
						#set($qid=$item.id.replaceAll("'","\\'").replaceAll("\"", "&quot;"))
						#set($dqid=$item.id.replaceAll("\"", "&quot;"))
						############################### Show top level folder #################
					#set ($width = "$!{item.depth}$unit")
						#if ($item.depth==0)	
							#set ($margin="margin-left:0")
						#else
							#set ($margin="margin-left:2em")
							#set ($marginAction="margin-left:4.7em")
						#end
						############################### Show top level folder #################
					<tr
						class="#if($item.isSelectedForCopy()) selectedCopy#end#if($item.isSelectedForMove()) selectedMove#end#if(!$item.isAvailable()) inactive#end">
					#set ($num=$num + 1)
							<td headers="expansion" class="attach hidden-sm hidden-xs">
							</td>
							<td headers="checkboxes attach">
								#if($item.depth > 0 && $item.hasMultipleItemActions())
									<input type="checkbox" name="selectedMembers-other" id="list$num"
											#if($selectedItems.contains($item.id))checked="checked"#end
											onclick="adjustCountOther(this, 'copy')"
 											value="$dqid" /><label for="list$num" class="skip">$clang.getString("att.select")</label>
									#foreach($key in $item.multipleItemActions.keySet())$counter.increment("$key") $counter.increment("selectall")#if($selectedItems.contains($item.id))$counter.increment("${key}selected")#end#end
								#end
							</td>
							<th headers="title" style="text-indent:$width" class="specialLink" scope="row">
						#if($item.isHot("$!dropboxHighlight")) #set($iconDecor="recentItem") #set($newNote="new") #else  #set($iconDecor="nil")  #set($newNote="")#end 
									#if ($item.canRead())
										#if($item.isCollection())
										<span class="skip">$newNote</span><span class="$iconDecor">	
											#if($item.isEmpty() || $item.isTooBig())
												<img src="#imageLink($item.iconLocation)" border= "0" alt="$item.hoverText" hspace="0" /></span>
											#else
												<a href="#"
													#if($item.isExpanded())
														onclick="document.getElementById('sakai_action').value='doCollapse_collection';document.getElementById('collectionId').value='$qid';document.getElementById('showForm').submit();"
													#else
														onclick="document.getElementById('sakai_action').value='doExpand_collection';document.getElementById('collectionId').value='$qid';document.getElementById('showForm').submit();"
													#end
													title= "$item.expandLabel"><img src="#imageLink($item.expandIconLocation)" border= "0" alt="$item.expandLabel" hspace="0" /></a></span>
											#end
											
										#else
											#if ($item.hasCopyrightAlert())
												## if there is a copyright alert, show the alert page first
												<a href="#" 
													title="$tlang.getString('gen.copycomf') $tlang.getString('gen.type'): $item.hoverText  [$tlang.getString('gen.newwin')]"	
													onclick="openCopyrightWindow('${item.accessUrl}','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false"
												>
											#else
												<a href="${item.accessUrl}" target="${item.target}">
											#end
												<img src="#imageLink($item.iconLocation)" border= "0" alt="$item.hoverText" hspace="0" />
											</a>
										#end
										#if($item.isLocked())
 											<img src = "#imageLink("sakai/lock.gif")" border="0"  alt="$tlang.getString('locked')" />
										#end
										#if ($item.hasCopyrightAlert())
											## if there is a copyright alert, show the alert page first
											<a href="#" 
												title="$tlang.getString('gen.copycomf') $item.hoverText [$tlang.getString('gen.newwin')]"
												onclick="openCopyrightWindow('${item.accessUrl}','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false;">
												$validator.escapeHtml($item.name)
											</a>
											&#169;
										#elseif($item.isCollection())
											#if($item.isTooBigNav())
												$validator.escapeHtml($item.name)    											
											#else
													<a href="#"
														onclick="document.getElementById('sakai_action').value='doNavigate';document.getElementById('collectionId').value='$qid';document.getElementById('navRoot').value='$validator.escapeUrl($item.root)';document.getElementById('showForm').submit();"
														title= "$item.hoverText">
														$validator.escapeHtml(${item.name})
													</a>
											#end
										#else
											#if($item.isTooBigNav())
												$validator.escapeHtml($item.name)    											
											#else
												<a href="$item.accessUrl" target="$item.target" title="$item.hoverText">
    												$validator.escapeHtml($item.name)
    											</a>
											#end
										#end
									#else
										 <img src="#imageLink($item.iconLocation)" border="0" alt ="$item.hoverText" hspace="0" />
										#if($item.isLocked())
 											<img src = "#imageLink("sakai/lock.gif")" border="0"  alt="$tlang.getString('locked')" />
										#end
										$validator.escapeHtml($item.name)
										#if ($item.hasCopyrightAlert())
											&#169;
										#end
									#end
									#if ($item.description !="" && $item.description)
                    <a tabindex="0" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" data-content="$validator.escapeHtml($item.description)">
                     <img src="#imageLink("/silk/information.png")" alt="$tlang.getString("list.description.link")"/>
                    </a>
                  #end
							</th>
							
							#set ($actionCount=($actionCount - 1))
							#set ($actionCount2=($actionCount2 - 1))
							<td headers="actions2" class="attach"></td>
							<td headers="actions3" class="attach"></td>
							#if($item.depth > 0)
								<td class="access hidden-sm hidden-xs" headers="access" title="$item.getShortAccessLabel()">
									$item.getShortAccessLabel()
								</td>
								<td class="creator hidden-sm hidden-xs" headers="creator">
									$validator.escapeHtml($item.createdBy)
								</td>
								<td class="modified hidden-sm hidden-xs" headers="modified">
									$item.ModifiedTime
								</td>
								<td class="size hidden-sm hidden-xs" headers="size">
									$item.size
								</td>
							#else
                                <td class="access hidden-sm hidden-xs" headers="access"></td>
                                <td class="creator hidden-sm hidden-xs" headers="creator">
                                </td>
                                <td class="modified hidden-sm hidden-xs" headers="modified">
                                </td>
                                <td class="size hidden-sm hidden-xs" headers="size">
                                </td>
							#end
						</tr>
					#end ## foreach $root in $other_sites
	
				#else
					<tr class="hidden-xs hidden-sm">
						<th colspan="10">
						<h3>
							<a href="#" onclick="document.getElementById('sakai_action').value='doShowOtherSites';document.getElementById('showForm').submit();"
								title= "$clang.getString('list.copycontent')">
								<img src="#imageLink("sakai/expand.gif")" alt="$clang.getString('list.copycontent')" border="0" align="top" />
								$validator.escapeHtml("$clang.getString('list.copycontent')")
							</a>
						</h3>
						</th>
					</tr>
				#end
			#end
			#end
			############################################# end of "Other sites" section 
		
		</table>
		<div id="bottompadding" style="height:35em"> </div> 
		
		#foreach($key in $listActions.keySet())
			<input type="hidden" id="${key}-count" value="$counter.getValue("${key}selected")" />
		#end		
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		<input type="hidden" id="show-count" value="$counter.getValue("showselected")" />
		<input type="hidden" id="hide-count" value="$counter.getValue("hideselected")" /> 
		## copy for other sites
		<input type="hidden" id="copy-count-other" value="0" />
	</form>						
</div>
<script type="text/JavaScript">
	<!--
		#foreach($key in $listActions.keySet())
			#if($counter.getValue("${key}selected") > 0)
				document.getElementById("${key}-button").disabled = false;
				document.getElementById("show-button").disabled = false;
				document.getElementById("hide-button").disabled = false;
			#end
		#end
		#if($counter.getValue("selectall") > 0)
			document.getElementById("selectall").disabled = false;
		#end
		function openCopyrightWindow(theURL,winName,winSettings) 
		{ 
		  window.open(theURL,winName,winSettings);
		  return false;
		}
		function toggleSelectAll(caller, elementName)
		{
			var newValue = caller.checked;
			var elements = document.getElementsByName(elementName);
			
			if(elements)
			{
				for(var i = 0; i < elements.length; i++)
				{
					elements[i].checked = newValue;
				}
			}
			
			if(newValue == true)
			{
				caller.title = "$clang.getString("list.unselect")";
				#foreach($key in $listActions.keySet())
					var ${key}_button = document.getElementById("${key}-button");
					if(${key}_button)
					{
						${key}_button.disabled = false;
						//let bd take care of this ${key}_button.className = 'enabled';
					}
					document.getElementById("${key}-count").value = "$counter.getValue("$key")";
				#end
#### begin SAK-23304
                var show_button = document.getElementById("show-button");
                if(show_button) {
                        show_button.disabled = false;
                        //let bd take care of this show_button.className = 'enabled';
                }
                document.getElementById("show-count").value = "$counter.getValue("show")";
                var hide_button = document.getElementById("hide-button");
                if(hide_button) {
                        hide_button.disabled = false;
                        //let bd take care of this hide_button.className = 'enabled';
                }
                document.getElementById("hide-count").value = "$counter.getValue("hide")";
#### end SAK-23304
			}
			else
			{
				caller.title = "$clang.getString("list.select")";
				#foreach($key in $listActions.keySet())
					var ${key}_button = document.getElementById("${key}-button");
					if(${key}_button)
					{
						${key}_button.disabled = true;
						//let bd take care of this ${key}_button.className = 'disabled';
					}
					document.getElementById("${key}-count").value = "0";
				#end
#### begin SAK-23304
                var show_button = document.getElementById("show-button");
                if(show_button)
                {
                        show_button.disabled = true;
                        //let bd take care of this show_button.className = 'disabled';
                }
                document.getElementById("show-count").value = "0";
                var hide_button = document.getElementById("hide-button");
                if(hide_button)
                {
                        hide_button.disabled = true;
                        //let bd take care of this hide_button.className = 'disabled';
                }
                document.getElementById("hide-count").value = "0";
#### end SAK-23304
			}
		}
		
		function adjustCount(caller, key)
		{
			var counter = document.getElementById(key + "-count");
			var button = document.getElementById(key + "-button");
			
			if(caller && caller.checked && caller.checked == true)
			{
				counter.value = parseInt(counter.value) + 1;
			}
			else
			{
				counter.value = parseInt(counter.value) - 1;
			}
	
			if(button)
			{
				if(counter.value > 0)
				{
					button.disabled = false;
					//let bd take care of this button.className='enabled';
				}
				else
				{
					button.disabled = true;
					//let bd take care of this button.className='disabled';
				}
			}
		}

		function adjustCountOther(caller, key) {
			var counter = document.getElementById(key + "-count-other");
			var button = document.getElementById(key + "-button-other");
			if (caller && caller.checked && caller.checked == true) {
				counter.value = parseInt(counter.value) + 1;
			} else {
				counter.value = parseInt(counter.value) - 1;
			}
			if (button) {
				if (counter.value > 0) {
					button.disabled = false;
					//let bd take care of this: button.className='enabled';
				} else {
					button.disabled = true;
					//let bd take care of this: button.className='disabled';
				}
			}
		}

   function adjustShowHideCount(caller) {
                var trlist = caller.parentNode.parentNode.parentNode.childNodes;
                var enableshow=  false ;
                var enablehide=  false ;

                for (var i=0; i<trlist.length; i++){
                        var thisTR = trlist[i];
                        if (thisTR.tagName == "TR"){
                                var inputlist= thisTR.getElementsByTagName("input");
                                if (inputlist.length ==3) {

                                        // 1.  check itemHidden
                                        var thisTRitemHidden= thisTR.getElementsByTagName("input")[1];

                                        var currHidden = false;
                                        if (thisTRitemHidden&& (thisTRitemHidden.name == "itemHidden")) {
                                                currHidden= thisTRitemHidden.value;
                                        }

                                        // 2. check itemCanRevise
                                        var thisTRitemCanRevise = thisTR.getElementsByTagName("input")[2];
                                        var currCanRevise= false;
                                        if (thisTRitemCanRevise && (thisTRitemCanRevise.name == "itemCanRevise")) {
                                                currCanRevise= thisTRitemCanRevise.value;
                                        }

                                        // 3. check item is checked or not
                                        var thisTRcheckbox = thisTR.getElementsByTagName("input")[0];
                                        var currchecked = false;
                                        if (thisTRcheckbox && (thisTRcheckbox.name == "selectedMembers")) {
                                                currchecked = thisTRcheckbox.checked;
                                        }


                                        if ((currchecked==true) && (currHidden=="true") && (currCanRevise == "true")) {
                                                enableshow= true;
                                                break;
                                        }
                                }
                        }
                }
                for (var i=0; i<trlist.length; i++){
                        var thisTR = trlist[i];
                        if (thisTR.tagName == "TR"){
                                var inputlist= thisTR.getElementsByTagName("input");
                                if (inputlist.length ==3) {

                                        // 1.  check itemHidden
                                        var thisTRitemHidden= thisTR.getElementsByTagName("input")[1];
                                        var currHidden = false;
                                        if (thisTRitemHidden&& (thisTRitemHidden.name == "itemHidden")) {
                                                currHidden= thisTRitemHidden.value;
                                        }

                                        // 2. check itemCanRevise
                                        var thisTRitemCanRevise = thisTR.getElementsByTagName("input")[2];
                                        var currCanRevise= false;
                                        if (thisTRitemCanRevise && (thisTRitemCanRevise.name == "itemCanRevise")) {
                                                currCanRevise= thisTRitemCanRevise.value;
                                        }

                                        // 3. check item is checked or not
                                        var thisTRcheckbox = thisTR.getElementsByTagName("input")[0];
                                        var currchecked = false;
                                        if (thisTRcheckbox && (thisTRcheckbox.name == "selectedMembers")) {
                                                currchecked = thisTRcheckbox.checked;
                                        }

                                        if ((currchecked==true) && (currHidden=="false") && (currCanRevise == "true")) {
                                                enablehide= true;
                                                break;
                                        }
                                }
                        }
                }

                var showbutton = document.getElementById("show-button");
                if(showbutton)
                {
                        if (enableshow)
                        {
                                showbutton.disabled = false;
                                //let bd take care of this: showbutton.className='enabled';
                        }
                        else
                        {
                                showbutton.disabled = true;
                                //let bd take care of this: showbutton.className='disabled';
                        }
                }

                var hidebutton = document.getElementById("hide-button");
                if(hidebutton)
                {
                        if (enablehide)
                        {
                                hidebutton.disabled = false;
                                //let bd take care of this: hidebutton.className='enabled';
                        }
                        else
                        {
                                hidebutton.disabled = true;
                                //let bd take care of this: hidebutton.className='disabled';
                        }
                }
        }

		function disableLinks()
		{
			if(document.getElementsByName)
			{
				var enabledLinks = document.getElementsByName("enabledActionLinks");
				var disabledLinks = document.getElementsByName("disabledActionLinks");
				if(enabledLinks)
				{
					for(var i = 0; i < enabledLinks.length; i++)
					{
						//enabledLinks[i].innerHTML = disabledLinks[i].innerHTML;
						enabledLinks[i].style.display="none";
						disabledLinks[i].style.display="block";
					}
				}			
			}
		}
		function submitform(id)
		{
			var theForm = document.getElementById(id);
			if(theForm && theForm.onsubmit)
			{
				theForm.onsubmit();
			}
			if(theForm && theForm.submit)
			{
				theForm.submit();
			}
		}
    
    $('ul.makeMenu').keydown(function(e) { // "Add" and "Action" menus keyboard interaction handler
	if(e.target.nodeName.toLowerCase() == 'li') {
	    // Must be an 'add' or 'action' li
	    switch(e.which) {
		case 38: // up arrow
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    $('.makeMenuChild').hide();
		    $(e.target).find('.makeMenuChild').show().find('li:last a').first().focus();
		    break;
		case 13: // enter
		case 32: // space
		case 40: // down arrow
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    $('.makeMenuChild').hide();
		    $(e.target).find('.makeMenuChild').show().find('li:first a').first().focus();
		    break;
		case 9:
		    $('.makeMenuChild').hide();
		    break;
	    }
	} else {
	    // If not a li element, must be a submenu link (nothing else can have keyboard focus)
	    switch(e.which) {
		case 32: // space
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    window.location.href = e.target.href; // .trigger('click') didn't work on the anchors, this does though
		    break;
		case 38: // up arrow -- does not wrap around
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    $(e.target).parent('li').prev('li').find('a').first().focus();
		    break;
		case 40: // down arrow -- does not wrap around
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    $(e.target).parent('li').next('li').find('a').first().focus();
		    break;
		case 9: // tab key
		    // don't stop propagation or default, let browser move the focus!
		    $('.makeMenuChild').hide();
		    break;
		case 27: // esc key
		    e.preventDefault();
		    e.stopImmediatePropagation();
		    $('.makeMenuChild').hide();
		    $(e.target).parents('ul.makeMenu > li').first().focus();
		    break;
	    }
	}
    });

	##SAK-30085
	#if($showJumpToResourceForm)
	$(function() {
		var formEl = $("#jumpToResourceForm");
		var collectionIdEl = formEl.find(":input[name=collectionId]");

		formEl.on("submit", function() {
			var collectionId = collectionIdEl.val();

			if (collectionId.length == 0) {
				return false;
			}

			if (collectionId.match(/\/$/) == null) {
				collectionId += "/";
				collectionIdEl.val(collectionId);
			}

			return true;
		});
	});
	#end

	//-->
</script>

	
